dash # Main Dash Application
dash-bootstrap-components # Provides themes, layout, cards, and navbar
dash-ag-grid # High-performance data grid for Tab 2
pandas
numpy
plotly
networkx # Used by dash-cytoscape to build the graph model (Tab 6)
country-converter # For Geographic Insights (ISO codes - Tab 4)

pyarrow # Required by pandas for reading/writing .parquet files
